.site-footer{
    &-menu{
        > ul{
            display: table;
            table-layout: fixed;
            width: 100%;
            > li{
                display: table-cell;
                vertical-align: top;
                > span {
                    font-family: $bold;
                    display: block;
                    font-size: 14px;
                    padding-bottom: 23px;
                }
                > ul{
                    > li{
                        a{
                            font-family: $light;
                            font-size: 14px;
                            display: inline-block;
                            padding: 5px 21px 5px 0;
                            color: #6E6D6E;
                        }
                    }
                }
            }
        }
    }
    &-center,
    &-bottom{
        .ems-container{ max-width: 1440px; }
    }
    &-center{
        > .ems-container{
            padding: 95px 125px 63px 125px;
        }
    }
    &-social{
        &-inner{
            > ul{
                width: auto;
                display: table;
                /*margin-left: auto;
                margin-right: auto;*/
                > li{
                    display: table-cell;
                    vertical-align: middle;
                    a{
                        display: inline-block;
                        text-align: center;
                        i{
                            display: block;
                            font-size: 24px;
                            width: 23px;
                            height: 23px;
                            background: #c7c8ca;
                            border-radius: 100%;
                            padding: 5px 4px;
                            font-size: 14px;
                            color: #fff;
                        }
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
    &-bottom{
        .ems-inline-table{
            > *{
                vertical-align: middle;
            }
        }
    }
    &-corporate, &-copyright{
        p{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &-corporate{
        p{
            > a{
                display: inline-block;
                &:first-child{
                    margin-right: 10px;
                    border-right: 1.5px solid #aeb0b7;
                    padding-right: 10px;
                }
            }
        }
    }
    &-copyright{
        text-align: center;
        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            li {
                margin: 0 10px;
            }
        }
        p{
            font-family: $light;
            font-size: 10px;
            display: inline-block;
            color: #666;
        }
        a {
            font-family: $light;
            font-size: 10px;
            border-left: 1px solid #666;
            padding-left: 10px;
            margin-left: 10px;
            display: inline-block;
            color: #666;
            &:hover {
                color: #999;
            }
        }
    }
}

/* Scroll Top */

span.scrolltop {
    position: fixed;
    padding: 15px;
    right: 15px;
    bottom: 12px;
    z-index: 100;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    @include transition(opacity .2s ease-in-out);
    &:hover {
        i {
            @include setTransform(translateY(-30px));
            will-change: transform;
        }
    }
    &.scroll {
        opacity: 1
    }
    i {
        font-size: 25px;
        color: #333;
        position: absolute;
        left: 0;
        right: 0;
        @include setTransform(translateY(-25px)); 
        @include transition(transform 333ms ease-in-out);
    }
    small {display: block; font-weight: normal; font-size: 10px; color: #333;}
}


/*Single Desktop*/
@media screen and (min-width: $breakpointXSM){
    .site-footer{
        /*padding-top: 20px;
        padding-bottom: 30px;*/
        &-menu{
            > ul{
                > li{
                    > ul{
                        > li{
                            a{
                                line-height: 15px;
                                color: #6E6D6E;
                                &:hover{
                                    color: #231F20;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-center{
            > .ems-container{
                .ems-cell-1 {width:60%;}
                .ems-cell-2 {width: 100%; max-width: 318px; float: right;}
            }
        }
        &-social{
            border-width:1px 0 1px 0;
            border-color:$border;
            border-style: solid; 
            margin-top: 20px;
            &-inner{
                > ul{
                    padding-bottom: 57px;
                    > li{
                        padding-left: 10px;
                        &:first-child{ padding-left: 0; }
                    }
                }
            }
        }
        &-bottom {
            background-color: #F9F9F9;
        }
        &-copyright,
        &-corporate{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &-corporate{
            p{
                text-align: right;
            }
        }
    }
    .kutuBulten{
        display: table;
        width: 100%;
        /*max-width: 450px;*/
        margin-left: auto;
    }

    /*Cookie*/
    .cookie-warning{position:fixed; bottom:-100%; left:0; width:100%; z-index:1; background:rgba(246, 247, 249, .5); transition:all .5s ease; padding:15px; display:none;}
    .cookie-warning.show{display:block;}
    .cookie-warning .cookie-warning-wrap{line-height: 15px; font-size:12px; font-family:$regular; color: $lDark; text-align:center;}
    .cookie-warning .cookie-warning-wrap a{display:inline-block; text-decoration:underline;}
    .cookie-warning .cookie-bnr-close{ position:absolute; top:15px; right:10px; z-index:1; width:10px; height:10px;}
    .cookie-warning .cookie-bnr-close .ico_close, .cookie-warning .cookie-bnr-close .ico_close:before{font-size:10px; color: #fff;}

    .sticky-header-ready .cookie-warning{bottom:0;}
    span.scrolltop {display: block;}
}

/*Cookie*/
.cookie-warning{ width: 100%; background:#f6f7f9;}
.cookie-warning .cookie-warning-wrap{color:$lDark;}
.cookie-warning .cookie-bnr-close .icon-ico_close, .cookie-warning .cookie-bnr-close .icon-ico_close:before{color:$lDark;}

.kutuBulten{
   .mod-newsletter{
    &-header{
        > span{
            display: block;
            padding-bottom: 18px;
            span{
                font-family: $webr;
                font-size: 18px;
                padding-bottom: 10px;
                display: block;
            }
            p {
                line-height: 22px;
                margin: 0;
                font-family: $light;
            }
        }
    }
    &-body{
        .ems-form{
            .ems-field{
                &.text{
                    input{
                            height:34px;
                            line-height: 34px;
                            background: #fff;
                            border: 0;
                            border-bottom:1px solid #000;
                            color: #B7BBC2;
                            padding: 5px 55px 5px 15px;
                            border-radius: 0;
                        }
                    }
                    &.submit{
                        margin-bottom: 0;
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        width: auto;
                        height: auto;
                        z-index: 1;
                        margin-top: -17px;
                        border-left: 15px solid #fff;
                        .btnBultenGonder{
                            background: none;
                            padding: 12px 10px;
                            background: #000;
                            font-family: $webl;
                            span{
                                font-size: inherit;
                                font-size: 10px;
                                letter-spacing: 2px;
                                i, i:before{
                                    font-size: 17px;
                                }
                                i:before{
                                    color: $lDark;
                                }
                            }
                            &:hover {
                                background: #333;
                            }
                        }
                    }
                    &.checkbox {
                        padding-top: 15px;
                        .data-Privacy{
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            .sStylerMainWrp.sStylerWrp_checkbox{
                                display: inline-block;
                                span.cStyler{
                                    width: 14px;
                                    height: 14px;
                                    border: 1px solid #C7C8CA;
                                    position: relative;
                                    background: #fff;
                                    display: inline-block;
                                    cursor: pointer;
                                    &.checked{
                                        background: $lDark;
                                        border-color: #171d2f;
                                        &:after{
                                            font-family: 'icomoon';
                                            content:'\e908';
                                            font-size: 10px;
                                            color: #fff;
                                            width: 10px;
                                            height: 10px;
                                            position: absolute;
                                            top: 1px;
                                            right: 1px;
                                        }
                                    }
                                }
                            }
                        }
                        span[id$="lbfPrivacyNotice"]{
                            color: #28354f;
                            font-family: "medium";
                            font-size: 14px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        &-footer{
            .ems-message {margin-top:10px; margin-bottom: 0;}
        }
   }
}

@media screen and (max-width: $breakpointXSM){
    .site-footer{
        /*padding-bottom: 60px;*/
        .ems-inline-table{
            table-layout: inherit;
            @include flex();
            @include flexDirection(column);
        }
        &-social{
            &-inner{
                > ul{
                    width: 100%;
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 60px;
                    margin: 0 auto;
                    max-width: 180px;
                }
            }
        }
        &-center{
            .ems-inline-table{
                .ems-cell-1{order: 2;}
                .ems-cell-2{
                    order: 1;
                    max-width: 270px;
                    margin: 0 auto 34px auto;
                    width: 100%;
                }
            }
            > .ems-container {
                padding: 0;
            }
        }
        &-menu{
            margin-top: 20px;
            background-color: #F9F9F9;
            > ul{
                padding: 23px 48px 17px;
                > li{
                    display: block;
                    > span {display: none;}
                    > ul{
                        > li{
                            /*border-bottom: 1px solid $border;*/
                            &:first-child{
                                /*border-top: 1px solid $border;*/
                            }
                            > a{
                                display: block;
                                padding: 11px 0px;
                                font-size: 14px;
                                line-height: 1.25rem;
                                color: #000;
                                position: relative;
                            }
                            > ul{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &-copyright,
        &-corporate{
            text-align: center;
        }
        &-corporate{
            p{
                display: inline-block;
                &:before{
                    content: '';
                    width: 70px;
                    height:2px;
                    background: #e6e7e9;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }
            }
        }
        &-copyright{
            padding: 16px 0 32px;
            p{
                letter-spacing: .25px;
                font-size: 9px;
                padding: 10px 0px;
                width: 100%;
            }
            a {
                border: 0;
                padding-left: 0px;
                margin-left: 0px;
                &:last-child {
                    border-left: 1px solid #666; 
                    padding-left: 10px;
                    margin-left: 10px;
                }
            }
        }
        &-bottom {
            padding: 0 20px 20px 20px;
        }
    }

    .kutuBulten{
        padding: 0px;
        .mod-newsletter{
            &-header{
                margin-bottom: 18px;
                > span{
                    text-align: center;
                    padding: 0;
                    span{
                        font-family: $webr;
                        font-size: 18px;
                        line-height: 18px;
                        color: #000;
                    }
                }
            }
        }
    }
    span.scrolltop {
        position: static;
        display: block;
        opacity: 1;
        background: #000;
        border-radius: 0px;
        i {
            display: none;
        }
        small {
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;

        }
        &:hover {
            background: #333;
        }
    }
}