.sayfaIcDiv{
    width: 100%;
    margin: 0 auto;
}


.ems-page{
    &-home{
        .order-gray{
            background:$lGray;
        }
    }
}

.ems-grid-banner{
    &-hidden{
        overflow: hidden;
    }
    &-cover{
        background-size: cover !important;
        background-position: top left !important;
        position: relative;
        > a{display: block;}
        img{
            max-height: 650px;
            width: 100%;
            opacity: 0;
            visibility: hidden;
        }
    }
}
.ems-inline-flex{
    > img{
        opacity: 0;
        width: 100%;
    }
    &-hidden{
        position: relative;
    }
    &-cover-hidden{
        overflow: hidden;
        > a{display:block;}
    }
    &-cover{
        background-size: cover !important;
        background-position:center center !important;
        > a{display:block;}
        img{
            width: 100%;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.ems-grid-box{
    &-inner {
        > span.title {
            font-family: $playr;
            font-size: 28px;
            text-align: center;
            display: inline-block;
            width: 100%;
            margin: 60px 0 40px 0;
            opacity: 0;
        }
    }
    &-cover{
        background-position:top left !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        img{ opacity: 0; visibility: hidden; width: 100%; }
    }
    &-boxes{ 
        > a{
            display: block;
            position: relative;
        }
    }
}

.ems-this-week {
    &-inner {
        > span.title {
            font-family: $playr;
            font-size: 28px;
            text-align: center;
            display: inline-block;
            width: 100%;
            margin: 60px 0 40px 0;
            opacity: 0;
        }
        ul {
            li {
                @include flex();
                justify-content: space-between;
                align-items: center;
                padding-bottom: 60px;
                &.leftColumn {
                    flex-direction: row;
                }
                &.leftColumn {
                    flex-direction:row-reverse;
                }
                > a {
                    width: 100%;
                }
            }
        }
    }
    &-title{
        padding: 0 0 20px 0;
        width: 100%;
        opacity: 0;
        span{
            display: block;
            font-family: $light;
            font-size: 16px;
            color: #28354f;
            letter-spacing: .25px;
            line-height: 1.375rem;
        }
    }
    &-cover {
        background-size: cover !important;
        opacity: 0; 
    }
    &-text {
        width: 100%;
        max-width: 480px;
        padding: 0px 40px;
        opacity: 0;
        &-title{
            font-size: 28px;
            font-family: $playr;
            line-height: 32px;
            margin-bottom: 5px;
            letter-spacing: 1px;
        }
        &-content {
            font-size: 16px;
            font-family: $light;
            line-height: 22px;
            margin-bottom: 10px;
        }
        &-button {
            .btn-single {
                padding: 0;
                span {
                    font-size: 16px;
                    font-family: $webl;
                }
                i {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}

/* Kampanya Görsel Banner */

.main-camp {
    text-align: center;
    margin: 0px auto !important;
    a, picture {
        display: inline-block;
        width: 100%;
    }
}
.ems-page-home {
    .main-camp {
        margin: 70px auto 15px auto !important;
    }
}


/* FEATURED BENEFITS */

.ems-featured-benefits {
    margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #f9f9f9;  
    &-wrapper {
        .title {
            margin: 80px 0 40px 0;
            font-size: 28px;
            font-family: $playr;
            letter-spacing: 2.2px;
            display: inline-block;
            width: 100%;
            text-align: center;
            opacity: 0;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            li {
                text-align: center;
                padding: 30px 40px;
                img {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    margin-bottom: 25px;
                    opacity: 0; 
                }
                span {
                    font-family: $medium;
                    display: block;
                    font-size: 16px;
                    padding-bottom: 5px;
                }
                p {
                    display: block;
                    font-size: 16px;
                    font-family: $light;
                    margin: 0;
                }
            }
        }
    }
    .benefits-button {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px 0;
        a {
            width: auto;
            opacity: 0;
            margin: 0 10px;
            min-width: 150px;
            &.btn-login {
                border: 1px solid #000;
                background: transparent;
                color: #000;
                &:hover{
                    background-color: #000;
                    color:#fff;
                }
            }
            &.btn-join {
                border: 1px solid #000;
                background-color: #000;
                &:hover {
                    border-color: #333;
                    background-color: #333;
                }
            }
        }
    }
}

.site-footer-trust-icons {
    background-color: #f9f9f9;
}

.ems-pay-info {
    max-width: 1250px;
    margin: 20px auto 15px auto;
    i {
        font-size: 25px;
        display: inline-block;
    }
    .swiper-wrapper {
        justify-content: space-between;
        padding: 15px 0;
        max-width: 700px;
        margin: 0 auto;
    }
    .swiper-container-payment {
        .swiper-slide {
            border-right: 1px solid #ddd;
            width: 33.333% !important; 
            > a {
                &:hover {
                    opacity: .65;
                }
            }
            .step {
                i {
                    &:before {
                        display: inline-block;
                        display: block;
                    }
                }
                p {
                    display: inline-block;
                    font-family: $light;
                    margin: 0 0 0 10px;
                    top: -4px;
                    position: relative;
                    color: #333;
                    font-size: 13px;
                }
            }
            &:last-child {border:0;}
        }
    }
}

@media screen and (min-width: $breakpointXSM){

    .ems-page{ width: 100%; }

    .ems-container{ padding: 0 10px; }

    .ems-page{
        &-home{
            .order-gray{
                padding-top: 40px;
                margin-top: 60px;
                padding-bottom: 60px;
            }
        }
    }

    .ems-container-section{
        width: 100%;
        max-width: 1440px;
        margin: $marginAuto;
    }

    .ems-container-middle{
        margin: $marginAuto;
    }

    .ems-grid-banner{
        &-inner{
            position: relative;
            margin-top: 50px;
            margin-left: 10px;
            margin-right: 10px;
            @include transition(all 666ms cubic-bezier(0.420, 0.000, 0.580, 1.000));
            opacity: 0;
            @include setTransform(skewX(4deg));
            > a{
                display: block;
                &:hover{
                    .btn-single span:before{ width: 100%; overflow: visible; }
                }
            }
        }
        &-text{
            position: absolute;
            top: 50%;
            z-index: 1;
            min-width: 50%;
            width: 50%;
            padding: 0 10px;
            text-align: center;
            @include transition(all 666ms cubic-bezier(0.420, 0.000, 0.580, 1.000));
            @include setTransform(translateY(-50%));
            opacity: 0;
            transition-delay: 555ms;
            &-small{
                span{
                    color: #fff;
                    font-family: $regular;
                    font-size: 18px;
                    letter-spacing: 3px;
                }
            }
            &-big{
                span{
                    font-family: $regular;
                    font-size: 60px;
                    color: #fff;
                }
            }
            &-button{
                .btn-single{
                    margin-top: 30px;
                    span{
                        color: #fff;
                        &:before{
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    .ems-inline-flex{
        @include flex();
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1030px;
        position: relative;
        margin-top: 53px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        &-cell-1{
            @include transition(all 444ms cubic-bezier(0.420, 0.000, 0.580, 1.000));
            @include setTransform(translateY(20px));
            .ems-inline-flex-text{
                &-meddium{
                    span{
                        font-family: $regular;
                        letter-spacing: $ltSpace;
                        color: $darkBlack;
                        position: relative;
                        &:before{
                            content:'';
                            position: absolute;
                            left: -65px;
                            width: 100%;
                            height: 1px;
                            max-width: 48px;
                            background: #203256;
                            top: 50%;
                            margin-top: -2px;
                        }
                    }
                }
                &-big{
                    span{
                        margin-top: 15px;
                        font-family: $pdRegular;
                        font-size: 72px;
                    }
                }
            }
        }
        &-cell-2{
            @include transition(all 444ms cubic-bezier(0.420, 0.000, 0.580, 1.000));
            @include setTransform(translateY(60px));
            .ems-inline-flex-text{
                margin-top: 60px;
                &-meddium{
                    span{
                        font-size: 18px;
                        font-family: $regular;
                        color: #0e3d6d;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }
                }
                &-big{
                    span{
                        display: block;
                        font-size: 48px;
                        font-family: $medium;
                        margin-top: 10px;
                        color: #0e3d6d;
                    }
                }
                &-small{
                    span{
                        display: block;
                        font-size: 17px;
                        font-family: $regular;
                        color: $lDark;
                        line-height: 20px;
                        margin-top: 25px;
                    }
                }
            }
        }
        &-text-button{
            .btn-single{
                margin-top: 10px;
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-text{
            position: absolute;
            z-index: 1;
            > div {
                > span{
                    display: block;
                }
            }
        }
    }

    .ems-grid-box{
        &-inner{
            max-width: 1515px;
            margin: 0 auto;
            @include flex();
            flex-flow: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        &-boxes{    
            width: 33.333%;
            /*@include transition(all 666ms cubic-bezier(0.420, 0.000, 0.580, 1.000));*/
            > a{
                margin: 0 35px;
                padding-bottom: 30px;
            }
        }
        &-boxes-2{
            .ems-grid-box-text{bottom: -26px;}
        }
        &-boxes-1,
        &-boxes-3{
            /*@include setTransform(translateY(-30px));*/
        }
        &-boxes-2{
            /*@include setTransform(translateY(60px));*/
            a {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        &-discount{
            position: relative;
            bottom: 20px;
            padding-left: 20px;
            span{
                font-family: $medium;
                font-size: 84px;
                color: #fff;
            }
        }
        &-text{
            text-align: center;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 25px 30px 35px 30px;
            opacity: 0;
            /*max-width: 240px;*/
        }
        &-title{
            padding: 0 0 20px 0;
            width: 100%;
            span{
                display: block;
                font-family: $light;
                font-size: 16px;
                color: #28354f;
                letter-spacing: .25px;
                line-height: 1.375rem;
            }
        }
        &-button{
            text-align: left;
            .btn-single{
                width: 100%;
                text-align: center;
                padding: 0;
                span{
                    font-family: $medium;
                    padding: 0;
                    font-size: 16px;
                    color: #333;
                    &:before {
                        display: none;
                    }
                }
                i {
                    color: #333;
                    font-size: 12px;
                    margin-left: 5px;
                }
                &:hover {
                    span{
                        color: #999;
                    }
                    i {
                        color: #999;
                    }
                }
            }
        }
    }

    .ems-instagram{
        max-width: 1460px;
        margin: 0 auto;
        padding: 0 10px;
        .swiper-title {
            margin: 60px 0 40px 0;
        }
        .swiper-slide {
            padding-left: 10px;
            padding-right: 10px;
            > a {
                padding-left: 0px;
                padding-right: 0px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    display: block;
                    z-index: 1;
                    opacity: 0;
         
                    @include transition(opacity 1s ease);
                }
                &:after {
                    content:'\e912';
                    font-family: 'icomoon';
                    font-size: 25px;
                    color: #fff;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 50%;
                    opacity: 0;
    
                    z-index: 2;
                    text-align: center;
                    @include transition(opacity .4s ease);
                }
                &:hover {
                    &:before {
                        opacity: .5;
           
                    }
                    &:after {
                        opacity: 1;
                   
                    }
                }
            }
            &-cover {
                position: relative;
            }
        }
    }
    .site-footer-top {
              
    }
    
    /*Desktop Animations*/
    .ems-animated{
        .ems-grid-box-boxes-1,
        .ems-grid-box-boxes-2,
        .ems-grid-box-boxes-3{@include setTransform(translateY(0));}
        
        .ems-grid-banner{
            &-inner{
                opacity: 1;
                @include setTransform(skewX(0));
            }
            &-text{
                opacity: 1;
            }
        }
        .ems-inline-flex-cell-1,
        .ems-inline-flex-cell-2{@include setTransform(translateY(0));}
    }
}

/* Anasayfa Video */

.ems-banner-video {
    width: 100%;
    .video-area {
        border: 20px solid #EBBFA6;
        max-width: 882px;
        width: 70%;
        margin: 50px auto;
        position: relative;
        a {
            display: inline-block;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* Anasayfa Blog */

.ems-main-blog {
    span.title {
        margin: 60px 0 40px 0;
    }
    &-wrp {
        background-color: #f9f9f9;
        text-align: center;
        padding: 70px 0 50px 0;
        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    &-cover {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        background-size: cover !important;
    }
    &-text {
        background: #fff;
        padding: 40px;
        margin: -70px auto 25px auto;
        max-width: 570px;
        .category {
            font-family: $light;
            font-size: 12px;  
            color: #9B9B9B;
            letter-spacing: 2px;  
        }
        .content {
            font-family: $playr;
            font-size: 28px;
            letter-spacing: 1.5px;
            line-height: 36px;
            margin: 10px 0;
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .ems-grid-banner{
        &-cover{
            height: 280px;
            background-position: 100% 100% !important;
        }
        &-text{
            background: #fff;
            padding: 10px 20px;
            margin-top: -45px;
            z-index: 1;
            position: relative;
            max-width: 70%;
            min-width: 50%;
            display: inline-block;
            table-layout: fixed;
            &-small,
            &-big{
                span{
                    line-height: 1;
                    font-family: $medium;
                    font-size: 24px;
                    color: #28354f;
                }
            }
            &-big{
                padding-top: 5px;
            }
            &-button{
                .btn-single{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .ems-inline-flex{
        &-cell-1{ display: none; }
        &-cell{
            margin-top: 10px;
            > a{
                display: block;
            }

        }
        &-text{
            margin-top: -45px;
            background: #fff;
            min-width: 75%;
            max-width: 75%;
            display: table;
            margin-right: 0;
            padding: 10px 20px;
            margin-left: auto;
            &-small{
                display: none;
            }
            &-meddium,
            &-big{
                span{
                    line-height: 1;
                    font-family: $medium;
                    font-size: 24px;
                    color: #28354f;
                }
            }
            &-big{
                padding-top: 5px;
            }
            &-button{
                .btn-single{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .ems-grid-box{
        &-inner {
            > span {
                &.title {
                    font-size: 20px;
                    margin: 25px 0 20px 0;
                }
            }
        }
        &-cover{
             height: 280px;
        }
        &-discount{display: none;}
        &-boxes{ /*margin-top: 20px;*/ }
        &-boxes-1{
            .ems-grid-box-text{
                background: #fff;
                min-width: 100%;
                max-width: 100%;
                display: table;
                margin-right: 0;
                padding: 25px 30px 35px;
                margin-left: auto;
                text-align: center;
            }
        }
        &-boxes-2{
            .ems-grid-box-text{
                background: #fff;
                min-width: 100%;
                max-width: 100%;
                display: table;
                margin-right: 0;
                padding: 25px 30px 35px;
                margin-left: auto;
                text-align: center;
            }
        }
        &-title{
            span{
                font-size: 16px;
                line-height: 22px;
                margin: 0 0 26px;
                display: block;
            }
        }
        &-button{
            .btn-single{
                padding-left: 0;
                padding-right: 0;
                i {margin-left: 5px;} 
            }
        }
    }
    
    /* FEATURED BENEFITS */

    .ems-featured-benefits {
        padding-bottom:0px;
        &-wrapper {
            .title {
                margin: 0;
                padding: 20px;
            }
            ul {
                display: flex;
                li {
                    padding: 30px 40px 70px 40px;
                } 
            }
        }
        .benefits-button {
            border-top: 1px solid #eee;
            padding: 20px 10px;
            a {
                width: 50%; 
                min-width: auto;
            }
        }
    }
    .ems-banner-video {
        .video-area {
            width:100%;
            margin: 0;
        }
    }
    /* Home Landing */

    .ems-this-week {
        &-inner {
            > span {
                &.title {
                    padding: 20px 0;
                    font-size: 20px;
                    margin: 0;
                }
            }
            ul {
                li {
                    flex-direction: column !important;
                    padding-bottom: 35px;
                    text-align: center;
                    .ems-this-week-text-title {
                        font-size: 24px;
                        line-height: 30px;
                    }
                    .ems-this-week-text {
                        padding: 30px;
                    }
                }
            }
        }
    }
    /* Anasayfa Blog */

    .ems-main-blog {
        span.title {
            margin: 20px 0;
            font-size: 20px;
        } 
        &-wrp {
            padding: 30px 0 0px 0; 
        }
        &-text {
            max-width: 85%;
            margin: -70px auto 15px auto;
            padding: 30px; 
            .content {
                font-size: 22px;
                line-height: 28px;
                text-transform: lowercase;
                &:first-letter { 
                    text-transform: uppercase;
                }
            }
        } 
    }
    .ems-pay-info {
        margin: 0 auto 15px auto;
        .swiper-container-payment {
            .swiper-wrapper {
                transform: none !important;
            }
            .swiper-slide {
                .step {
                    p {
                        top: 0;
                        display: block;
                        font-size: 10px;
                        margin: 0;
                        top: 3px;
                    }
                }
            }
        }
    }
} 