@media screen and (min-width: $breakpointXSM){
    .ems-page-default{
        &-login{
            .ems-container-short{
                max-width: 1200px;
                .ems-col{
                    padding: 40px 0;
                    background: #fff;
                    flex: 1;
                    .ems-login-box {
                        border-right: 1px solid #e6e6e7;
                        padding: 0 75px;
                        height: 100%;
                    }
                }
            }  
        }    
    }    
}

.ems-page-default{
    &-member {
        &-header {
            /*padding: 100px 10px 95px 50%;*/
            text-align: center;
            height: 550px;
            span {
                display: none;
                span {
                    font-size: 40px;
                    line-height: 45px;
                    font-family: $medium;
                    margin-top: 30px;
                    display: block;
                }
                small {
                    font-size: 20px;
                    letter-spacing: 9px;
                    margin-bottom: 20px;
                    display: block;
                }
                p {
                    font-size: 16px;
                    padding: 0;
                    margin:0 auto 35px auto;
                    max-width: 260px;
                    display: block;
                }
                a {
                    font-size: 12px;
                    padding: 0 35px;
                    margin-top: 30px;
                    line-height: 40px;
                    color: #fff;
                    border: 1px solid #fff;
                    display: inline-block;
                }
            }
        }
        &-login{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            /*background:url(#{$baseHref + "/UPLOAD/BANNERS/covers/Hero-Login.jpg"}) top center no-repeat !important;
            background-size: cover !important; */
            background: #fff;
            padding: 0; 
            &-wrp {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding: 50px 30px 30px 30px;
                position: relative;
                z-index:9;
            }
        }
    }
    &-login{
        padding: 0;
        .ems-container-short{
            position: relative;
            min-height: 500px;
            .ems-login-cover-text{display: none;}
            .ems-login-cover{
                position: relative;
                &-text{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    padding-top: 50px;
                    padding-left: 30px; 
                    .login{
                        display: none;
                        .big{
                            &:before{
                                font-family: 'tl';
                                content: 't';
                                color: #fff;
                                display: inline-block;
                                font-size: 29px;
                                margin-right: 5px;
                            }
                        }
                    }
                    > div >{
                        span{
                            display: block;
                            color: #fff;
                            &.small{
                                font-family: $regular;
                                font-size: 14px;
                            }
                            &.big{
                                margin-top: 10px;
                                font-family: $medium;
                                font-size: 40px;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
            .ems-login-tab{display: none;}
            #validateUye{
                span[id$="lbfEmailKayitli"]{
                    &:empty{display: none;}
                    display: block;
                    background:#ff566b;
                    margin-bottom: 20px;
                    padding: 15px;
                    color: #ffffff;
                    line-height: 18px;
                }
            }
            .ems-login, .ems-signup{
                &-header{
                    > span{
                        > span{
                            display: block;
                            text-align: center;
                            font-family: $regular;
                            font-size: 22px;
                            padding-bottom: 18px;
                        }
                        small {
                            margin-bottom: 30px;
                            font-size: 14px;
                            text-align: center;
                            display: block;
                            line-height: 20px;
                        }
                        p {
                            text-align: center;
                            font-family: $medium;
                            margin-bottom: 30px;
                            u {
                                font-family: $regular;
                                text-decoration: none;
                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
            }
            .ems-login-cover{
                background: #fff;
                flex: 1;
                /*background:url(#{$baseHref + "/UPLOAD/BANNERS/covers/login-page-cover.jpg"}) center center no-repeat !important;
                background-size: cover !important;*/
                .ems-featured-benefits {
                    background: none;
                    &-wrapper {
                        padding: 67px 75px 0;
                        .title {
                            font-size: 22px;
                            margin: 0 0 18px 0;
                        }
                        .custom-content {
                            text-align: center;
                            display: block;
                            margin-bottom: 30px
                        }
                        ul {
                            grid-template-columns: repeat(2, 1fr);
                            li {
                                padding:0 0 15px 0;
                                span {
                                    font-size: 14px;
                                }
                                p {
                                    font-size: 14px;
                                }
                                img {margin-bottom: 12px;}
                            }
                        }
                    }
                    .benefits-button {
                        display: block;
                        text-align: center;
                        padding: 20px 0 0 0;
                        a.btn-login {
                            margin: 40px auto;
                            font-size: 11px;
                        }
                        &-Corporate {
                            a {
                                padding: 5px 15px;
                                margin: 0;
                                &:first-child {
                                    border-right: 1px solid #e6e6e7;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ems-form-inner{
            .ems-field{
                .ems-form-obj{
                    padding-left: 0;
                }
                &.enter-link{
                    .btn-login-page{
                        margin: 0;
                        > a{
                            display: block;
                            padding:15px 10px;
                            font-family: $regular;
                            u{font-family: $medium;}
                        }
                    }
                }
                &.mobile-phone{
                    .ems-form-label{left:100px;}
                    .ems-form-obj{
                        input[id$="CEPTELEFONALAN"]{border-right: none; width: 20% !important;}
                        input[id$="CEPTELEFONALAN"]::-webkit-input-placeholder,
                        input[id$="CEPTELEFONALAN"]::-moz-placeholder,
                        input[id$="CEPTELEFONALAN"]:-ms-input-placeholder,
                        input[id$="CEPTELEFONALAN"]:-moz-placeholder{color:$lDark;}
                        input[id$="CEPTELEFONALAN"] + input[id$="CEPTELEFON"]{width: 80% !important;}
                    }
                }
                &-checkbox{
                    .ems-form-obj{
                        padding-left: 0;
                    }
                }
                &-password-forget{
                    margin-bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    .ems-form-obj{
                        text-align: center;
                        a{
                            font-family: $regular;
                            font-size: 14px;
                            color: $lDark;
                        }
                    }
                }
                &-facebook{
                    .ems-form-obj{
                        padding-bottom: 0;
                    }
                }
                &-checkbox-special{
                    .ems-form-obj{
                        > span{
                            position: relative;
                            padding-left: 20px;
                            display: block;
                        }
                    }
                    .checkbox-special{
                        position: absolute;
                        left: 0;
                        top: 1px;
                        background: #fff;
                        width: 14px;
                        height: 14px;
                        border: 1px solid #C7C8CA;
                        display: inline-block;
                        cursor: pointer;
                        @include transition(all 0.2s ease);
                        &.checked{
                            background: $dark;
                            border-color: $dark;
                            &:after{
                                font-family: 'icomoon';
                                content:'\e908';
                                font-size: 8px;
                                color: #fff;
                                width: 8px;
                                height: 8px;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                right: 0;
                                margin-top: -9px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
                &-submit{
                    .btnLogin, .btnYeniUyeKaydet{
                        &:hover{ 
                        }
                    }
                }
                .sStylerMainWrp.sStylerWrp_select{
                    .sStylerWrp{
                        &:after{
                            margin-left: 0;
                            position: absolute;
                            top: 50%;
                            margin-top: -6px;
                            right: 15px;
                        }
                    }
                }
                span.checkbox .sStylerMainWrp span.cStyler{
                    position: relative;
                    &.checked{
                        &:after{
                            font-family: 'icomoon';
                            content:'\e918';
                            font-size: 8px;
                            color: #fff;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            margin-top: -8px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
        .video-block { 
            position: absolute;
            top: 0;
            width: 100%;
            .video-area {
                border: 0;
                margin: 0 auto;
                max-width: none;
                width: 100%; 
            }
        } 
    }
    .ems-signup{
        display: none;
    }
}

.ems-signup-body{
    .ems-page-default{
        .ems-login{
            display: none;
        }
        .ems-signup{
            display: block;
        }
        &-login{
            .ems-container-short {
                .ems-login-cover{
                    flex: 1;
                    /*background:url(#{$baseHref + "/UPLOAD/BANNERS/covers/login-page-cover-alternate.jpg"}) center center no-repeat !important;
                    background-size: cover !important;*/
                    &-text{
                        .logoff{
                            display: none;
                        }
                        .login{
                            display: block;
                        }   
                    }
                }
            }
        }
    }
}

.ems-login-menu {
    display: flex;
    border: 1px solid #C7C8CA;
    justify-content: space-between;
    align-items: center;
    font-family: $bold;
    margin-bottom: 30px;
    &:before {}
    span {
        color: $sunflower;
        width: 100%;
        text-align: center;
        padding: 12px 0px 11px 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background: $sunflower;
        }
    }
    p {
        color: #C7C8CA;
        width: 100%;
        text-align: center;
        padding: 12px 0px 11px 0;
        margin: 0;
        cursor: pointer;
    }
}

.ems-login {
    .ems-login-menu {
        span {
            border-right: 1px solid #C7C8CA;
            &:before {
                height: 3px;
            }
        }
    }
}
.ems-signup {
    .ems-login-menu {
        p {
            border-right: 1px solid #C7C8CA;
        }
        span {
            &:before {
                height: 3px;
            }
        }
    }
}

.ems-login-box {
    .ems-message{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $breakpointXSM){
    .vailLogin{
        display: none;
    }
    .ems-page-default{
        padding: 0;
        &-login{
            .ems-form-inner .ems-field.mobile-phone .ems-form-label{left:70px;}
            .ems-container-short{
                .ems-login-cover{
                    /*height: 150px;*/
                    /*background:url(#{$baseHref + "/UPLOAD/BANNERS/covers/login-page-cover.jpg"}) center center no-repeat !important;
                    background-size: cover !important;*/
                    &-text{
                        padding-top: 25px;
                    }
                    .ems-featured-benefits {
                        &-wrapper {
                            padding: 0 !important;
                            .title {
                                margin: 0;
                                padding: 0 0 18px 0;
                            }
                            ul {
                                flex-wrap: wrap;
                                li {
                                    width: 100%;
                                } 
                            }
                        }
                        .benefits-button {
                            border-top: 0;
                            padding: 0px;
                            a {
                                width: 100%; 
                                min-width: auto;
                                display: block;
                                margin: 0px auto 20px auto !important;
                            }
                            &-Corporate {
                                a {
                                    border: 0 !important;
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                }
                .ems-col.right{display: none;}
            }
        }
        &-member{
            &-login {
                /*background:url(#{$baseHref + "/UPLOAD/BANNERS/covers/Hero-Login-MB.jpg"}) top center no-repeat !important;
                background-size: contain !important;*/
                .ems-col{
                    border-bottom: 1px solid #C7C8CA;
                    padding-bottom: 40px;
                }
                &-wrp {
                    flex-direction: column-reverse;
                    padding: 25px 20px;
                    background: #fff;
                }
            }
            &-header {
                /*padding: 110% 20px 0px;*/
                height: 250px;
                span {
                    a {
                        width: 100%;
                        max-width: 270px;
                        border-color: $dark;
                        color: $dark;
                        margin: 0;
                    }
                }
            }
        }
    }
    /* FEATURED BENEFITS */
}