.navigasyon {
    border-top: 1px solid rgba(199,200,202,.45);
    padding: 26px 0;
    > span{
        display: block;
        &:empty{
            display: none;

        }
        a{
            display: inline-block;
            padding: 0;
            font-size: 14px;
            font-family: $medium;
            color: $dGray;
            &:before{
                content:'\e902';
                font-family: 'icomoon';
                display: inline-block;
                vertical-align: middle;
                margin: 0 12px;
                color: $dGray;
                font-size: 10px;
                position: relative;
                font-weight: bold;
                //top: -3px;
            }
            &:first-child{
                &:before{
                    display: none;
                }
            }
            &:last-child {
                color: $lDark;
            }
        }
    }
    &.sonucNavigasyon {
        b {
            font-family: $bold; 
        }
    }
}

.icerikListePagingUst,
.icerikListePagingAlt,
.icerik_ratingbar{ display: none; }

@media screen and (max-width: $breakpointXSM){
    .navigasyon {
        > span{
            background: $lGray;
            a{
                padding: 0;
                display: block;
                font-size: 24px;
                font-family: $dRegular;
                color: $lDark;
                &.homePageBtn{display: none;}
                
                &.navigasyonSeviye2,
                &.navigasyonSeviye3,
                &.navigasyonSeviye4{
                    display: none;
                    font-size: 18px;
                }
                &.navigasyonSeviye2{}
                &.navigasyonSeviye3{}
                &.navigasyonSeviye4{}
            }
        }
    }
}