.ems-page{
    &-list{
        position: relative;
        /*Arama hidden*/
        .tableTitleArama,
        .pageArama,
        .tableArama,
        .tblBtnAraIptal{
            display: none !important;
        }
        &-full{
            width: 100%;
        }
    }
    &-list-search{
        .ems-page-list-full .ems-container-section-first{/*display: none;*/}
    }
    .navigasyon > span{
        &:empty{display: none;}
    }
}

.ems-prd-list{
    width: 100%;
    &-paging{
        position: relative;
        margin-left: 30px;
        table{
            width: auto !important;
            tbody{
                tr{
                    td{
                        width: auto !important;
                        &:nth-child(1){ display: none; }
                        /*&:nth-child(3){ display: none; }*/
                        &:nth-child(2){ 
                            width:150px !important; 
                            position: absolute; 
                            right: 0; 
                            top: 0px;
                            
                        }
                        .urunPaging_paging select, .urunPaging_btnKiyaslama, .sStylerMainWrp, span[id$="lbfGNL_KAYIT"], span[id$="lblKayit"],  span[id$="lbfGNL_SAYFA"] {display:none !important;}
                        div[id$="pnlKayitSayisi"] {
                            display: flex;
                        }
                        span[id$="lblSayfa"] {
                            width: 130px;
                            text-align: center;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: $medium;
                        }
                        .urunPaging_pageNavigation{
                            position: relative;
                            text-align: right;
                            height: 35px;
                            > span{
                                display: none;
                                padding-top: 20px;
                                &:empty{
                                    display: none;
                                }
                                .paging{
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: $lDark;
                                    font-family: $medium;
                                    font-size: 14px;
                                    padding: 10px 0;
                                    width: 40px;
                                    height: 40px;
                                    line-height: 22px;
                                    border-bottom: 2px solid transparent;
                                    text-align: center;
                                    @include transition(all .2s ease);
                                    &:hover{
                                        border-bottom-color: $lDark;
                                    }
                                }
                                span.paging, a.paging{
                                    margin-left: 30px;
                                    display: none;
                                    &:first-child{
                                        margin-left: 0;
                                    }
                                }
                                span.paging{
                                    border-bottom-color: $lDark;
                                }
                            }
                            > a.paging{
                                display: inline-block;
                                padding: 12px;
                                &[id$="lnkNext"] {
                                    position: absolute;
                                    top: 0px;
                                    right: 0;
                                    z-index: 1;
                                    &:before {
                                        content: "\e902";
                                        font-family: 'icomoon';
                                        font-size:10px;
                                        display: inline-block;
                                    }
                                }
                                &[id$="lnkPrev"] {
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    z-index: 1;
                                    &:before {
                                        content: "\e901";
                                        font-family: 'icomoon';
                                        font-size:10px;
                                        display: inline-block;
                                    }
                                }
                                span {display: none;}
                            }
                            > a.firstPage, > a.lastPage{
                                display:none !important;
                            }
                            a.tumunuGoster{
                                display:none;
                                padding:10px;
                                line-height: 1;
                                margin-top: 25px;
                                span{
                                    font-family: $medium;
                                    font-size: 14px;
                                }
                            }
                            &:before {
                                content: '';
                                content: "\e901";
                                font-family: 'icomoon';
                                font-size: 10px;
                                display: inline-block;
                                padding: 12px;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                color: #ddd;
                            }
                            &:after {
                                content: '';
                                content: "\e902";
                                font-family: 'icomoon';
                                font-size: 10px;
                                display: inline-block;
                                padding: 12px;
                                position: absolute;
                                right: 0px;
                                top: 0px;
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Ürün Liste Üst Menü */
    .ems-prd-list-menu {
        display: flex;
        width: 100%;
        padding: 0 12px 40px;
        align-items: center;
        .ems-desktop-sort {
            .sStylerMainWrp {
                color: #C7C8CA;
                font-size: 13px;
                font-family: $light;
                border: 1px solid #C7C8CA;
                height: auto;
                .sStylerWrp {
                    height: auto !important;
                    padding: 0;
                    padding: 10px 40px 8px 25px !important;
                    font-size: 13px !important;
                    color: #C7C8CA !important;
                    font-family: $light !important;
                    line-height: 18px !important;
                }
            }
        }
        &-view {
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid #DADADA;
            font-size: 16px;
            font-family: $light;
            display: none;
            span {
                padding-right: 5px;
            }
            a {
                color: #C7C8CA;
                padding: 0px 6px;
                &.selected {
                    color: #414141;
                }
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

.ems-cat-description{
    &-inner{
        width: 100%;
        h1{ display: none; }
        span {
            font-size: 30px;
            padding: 30px 0;
            text-align: center;
            font-family: $regular;
            display: block;
            line-height: 30px;
        }
        p{
            margin: 0 auto;
            max-width: 900px;
            font-size: 14px;
            text-align: center;
            font-family: $light;
            line-height: 20px;
            padding-bottom: 30px; 
        }
    }
}

/*Filtre seçim*/
.pnlUrunKiyasSecim{
    display: none;
}

.ems-product-list-empty-layout{
    /*.ems-page-list-full .ems-container-section-first,*/
    .ems-container-full-first, 
    .ems-container-full-center,
    .ems-cat-description,
    .ems-prd-list{
        display: none;
    }
    .ems-container-full-last {
        padding: 0 20px;
    }
    .ems-container-full-last-left {
        display: none;
    }
    .ems-container-full-last-right {
        width: 100% !important;
        padding-left: 0px !important;
        .pageErrorArama {
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: $breakpointXSM){
    .ems-page{
        &-list{
            padding-bottom: 50px;
            &-full{
                .ems-container-section{
                    width: 100%;
                    max-width: 1460px;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    padding: 0 35px;
                    &-first{
                        @include flex();
                        justify-content: flex-start;
                        align-items: flex-start;
                        padding-left: 12px;
                        padding-right: 12px; 
                    }
                    &-list{
                        padding-left: 18px;
                        padding-right: 18px;
                    }
                }
            }
            .ems-container-full{
                &-center{
                    .ems-container-section{
                        z-index: 2;
                        &-inner{
                            /*width: auto;
                            @include flex();
                            justify-content: flex-start;
                            align-items: flex-start;
                            min-width: 50%;
                            max-width: 75%;
                            margin-left: 0;

                            margin-right: auto;*/
                        }   
                    }
                }
                &-last{ padding-top: 25px; }
                &-last-left{
                    width: 270px;
                    padding: 0 15px 10px 25px;
                    background: #fff;
                    position: -webkit-sticky;
                    position: sticky;
                    top: 50px !important; 
                    position: sticky;
                    top: 0;
                }

                &-last-right{
                    width: calc(100% - 270px);
                    padding-left: 25px;
                    > div{
                        @include flex();
                        justify-content: space-between;
                        align-items: center;
                    }
                    .ems-desktop-count{
                        .urunKiyaslamaOzellik_UrunSayi span{font-size: 16px;}
                        span[id$="lblFiltreler"]{display: none;}
                        span[id$="lblKayitSayisi"]{display: none;}   
                    }
                    .ems-desktop-sort{
                        .sStylerMainWrp.sStylerWrp_select{
                            .sStylerWrp{
                                height:35px;
                                line-height:25px;
                                color:$nDark;
                                font-size: 14px;
                                border: none;
                                padding-right: 30px;
                                &:after{
                                    right: 5px;
                                }
                            }
                        }
                    }
                    .ems-prd-list-view { 
                        flex: 1;
                        ul { 
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: center;
                            li {
                                a {
                                    padding: 0 5px;
                                    i {
                                        color: #e1e1e1;
                                        font-size: 23px; 
                                    }
                                }
                                /*&.selected {
                                    a {
                                        i {
                                            color: #676767;
                                        }
                                    }
                                }*/
                            }
                        }
                    }
                }
            }
        }

        &-list-search{
            .tableTitleArama{display:none;}
            .ems-container-full-center{
                .ems-container-section-inner{
                    min-width: inherit;
                    max-width: inherit;
                    margin-left: auto;
                    justify-content: center;
                    align-items: center;
                    @media screen and (min-width: $breakpointXSM){
                        .kutuOzellikFiltre{
                            .kutuBodyOzellikFiltre{
                                > table{
                                    > tbody{
                                        > tr > td{
                                            position: relative;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }                
                }
            }
            .ems-container-full-last{
                padding-top: 0;
            }
            /*.kutuKategori{
                ul.menuKategori{
                    margin-top: 20px;
                    > li > a{
                        color: #bec1c6;
                        &:before, &:after{display: none;}
                    }
                    > li > ul{display: none !important;}
                }
            }*/
            .ems-page-cover-text{
                max-width: 780px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                p{
                    width: 100%;
                    font-family: $regular;
                    font-size: 14px;
                    letter-spacing: 3px;
                    color: #0e3d6d;
                    line-height: normal;
                    text-transform: uppercase;
                    span{
                        display: inline-block;
                        line-height: normal;
                        div span{
                            font-family: $regular !important;
                            font-size: 14px !important;
                            letter-spacing: 3px;
                            color: #0e3d6d !important;
                        }
                    }   
                }
            }
            .kutuOzellikFiltre .kutuBodyOzellikFiltre > table > tbody > tr > td{
                .urunKiyaslamaOzellik_ozellik .urunKiyaslamaOzellik_ozellikIcerik{left: 0;}
            }
        }
    }

    .ems-prd-list{
        &-prop{
            display: none;
            &-inner{
                @include flex();
                @include flexDirection();
                align-items: center;
                justify-content: space-between;
                .ems-prd-list-count{order: 2;}
                .ems-prd-list-stock{order: 1;}
                .ems-prd-list-sort{order: 3;}
            }
        }
        &-paging{
            table{
                tbody{
                    tr{
                        td{
                            .urunPaging_pageNavigation{
                                a.tumunuGoster{
                                    &:hover{
                                        color: $btnColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ems-product-list-empty-layout{
        .ems-page-list {
            padding-bottom: 0;
            .ems-container-full-last{
                padding: 0px;
            }
        }
    }

}

.ems-loading-button {text-align: center; display: block; font-size: 16px; margin-bottom: 20px; }
.mobile-count {text-align: center; display: block; font-size: 16px;}

body {
    &.tekli {
        .ems-page-list .ems-container-full-last-right .ems-prd-list-view ul li.ikili a i {
            color: #676767;
        }
    }
    &.ikili {
        .ems-page-list .ems-container-full-last-right .ems-prd-list-view ul li.ikili a i {
            color: #676767;
        }
    }
    &.uclu {
        .ems-page-list .ems-container-full-last-right .ems-prd-list-view ul li.uclu a i {
            color: #676767;
        }
    }
    &.dortlu {
        .ems-page-list .ems-container-full-last-right .ems-prd-list-view ul li.dortlu a i {
            color: #676767;
        }
    }
}

ul.emosInfinite {
    .ems-prd {
        width: 25%;
        min-height: 100px;
        padding: 0px 10px 40px 10px;
        &-inner{
            position: relative;
            margin: 0 auto;
            width: 100%;
            /*max-width: 310px;*/
        }
        &-mask{
            position: relative;
            overflow: hidden;
            &-wrp {
                background: rgba(255,255,255,.5);
                padding: 14px;
                width: 100%;
                position: absolute;
                bottom: 0;
                @include transition(all .3s ease-in-out);
                @include setTransform(translateY(100%));
            }
            .ems-prd-image-list-container {
                .slide-button {
                    @include transition (all .3s ease);
                    i {
                        position: absolute;
                        top: 18px;
                        @include transition (all .3s ease);
                        transform: translateX(0);
                    }
                }
                .next-button {
                    position: absolute;
                    right: -40px;
                    @include vAlign;
                    width: 40px;
                    height: 50px;
                    i {
                        left: 0;
                    }
                    &:hover {
                        i {
                            transform: translateX(10px);
                        }
                    }
                }
                .prev-button {
                    position: absolute;
                    left: -40px;
                    @include vAlign;
                    width: 40px;
                    height: 50px;
                    i {
                        right: 0;
                    }
                    &:hover {
                        i {
                            transform: translateX(-10px);
                        }
                    }
                }
                &.item-1 {
                    .slide-button {
                        display: none !important;
                    }
                }
            }
            &:hover { 
                .ems-prd-mask-wrp {
                @include setTransform(translateY(0%));
               }
               .ems-prd-image-list-container {
                .next-button {
                    right: 0px;
                }
                .prev-button {
                    left: 0px;
                }
            }
            }
        }
        &-notice {
            position: relative;
            margin-bottom: 4px;
            min-height: 22px;
            > div {
                position: absolute;
                background: #fff;
                font-size: 15px;
                line-height: 22px;
                width: 100%;
                font-family: $bold;
                text-transform: uppercase;
                span {
                    font-size: 15px;
                    font-family: $bold;
                }
            }
        }
        &-new{
            height: 20px;
            min-height:20px;
            .urunListe_yeniUrun{
                display: block !important;
                span{
                    color: #A7CCE0;
                    &:empty{ display: none; }
                 }
            }
            &:empty{display: none;}
        }
        &-discount {
            &:empty{display: none;}
            text-align: center;
            .urunListe_pnlIndirimOran{
                display: block !important;
                background: #fff;
                span, small{
                    color: #55BEE6;
                    font-size: 15px;
                }
            }
        }
        &-stock{
            z-index: 6;
            .urunListe_urunStokUyari{
                height: 20px;
                min-height:20px;
                span{
                    font-family: $bold;
                    font-size: 16px;
                    color: #BBBBBB;
                    letter-spacing: 0.5px;
                }
                &:empty{display: none; }
            }
        }
        &-image{
            overflow: hidden;
            > a{
                display: block;
                img{
                    width: 100%;
                    /*max-width: 310px;*/
                }
            }
            &-list {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                a {
                    span[id$="lbfDetay"] {
                        display: none; 
                    }
                }
                ul {
                    li {
                        display: none;
                        &.active {
                            -webkit-animation-name: fade-in;
                            animation-name: fade-in;
                            -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                            display: block
                        }
                    }
                }

            }
        }
        &-review {
           display: inline-block;
           float: left;
           width: 31px;
           height: 31px;
           padding: 5px 10px;
           i, i:before{
            font-size: 18px;
            color: #000;
            }
        }
        &-favorites{
           display: inline-block;
           float: right;
           width: 31px;
           height: 31px;
           padding: 5px;
           table {width: auto !important;}
            .urunListe_favoriEkle{
                display: block !important;
                table tbody tr th{
                    .btnFavoriEkle{
                        padding: 0;
                        background: none;
                        font-family: inherit;
                        font-size: inherit;
                        span{
                            display: inline-block;
                            font-size: inherit;
                            font-family: inherit;
                            line-height: 20px;
                            height: 20px;
                            color: #000;
                            i, i:before{
                                font-size: 20px;
                            }
                        }
                        &.selected{
                            span{
                                i, i:before{
                                    
                                }
                                i:before{content:'\e911'; }
                            }
                        }
                    }
                }
            }
        }
        &-content{
            padding: 15px 0px 0 0px;
            &-mask{
                overflow: hidden;
                /*min-height: 105px;
                max-height: 105px;*/
                text-align: center;
            }    
        }
        &-name{
            padding: 3px 0;
            /*max-height: 20px;
            min-height: 20px;*/
            overflow: hidden;
            a{
                font-size: 16px;
                display: inline-block;
                line-height: 22px;
            }
        }
        &-color-info{
            padding: 9px 0 8px 0;
            line-height: 22px;
            text-align: center;
            > span{
                display: inline-block;
                padding-top: 5px;
                b{
                    padding-right: 2px;
                }
                b, span{
                    font-weight: normal;
                    font-size: 12px;
                    color: #C7C8CA;
                }
                span {
                    content: 'mevcut';
                    display: inline-block;
                }
            }
        }
        &-group{
            width: 100%;
            overflow: hidden;
            font-size: 0;
            &-inner{
                padding: 0 25px;
                .swiper-container {
                    overflow: visible;
                    &.plugins-active {
                        padding: 0;
                            .swiper-inner{
                            ul{
                                li {
                                    padding: 0 !important; 
                                }
                            }
                        }
                    }
                    .swiper-inner{
                        ul{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            @include flex();
                            justify-content: center;
                            -webkit-transition-property: -webkit-transform;
                            -moz-transition-property: -moz-transform;
                            -o-transition-property: -o-transform;
                            -ms-transition-property: -ms-transform;
                            transition-property: transform;
                            -webkit-box-sizing: content-box;
                            -moz-box-sizing: content-box;
                            box-sizing: content-box;
                            li{
                                /*width: 13px;
                                height: 13px;*/
                                /*overflow: hidden;*/
                                -webkit-flex-shrink: 0;
                                -ms-flex: 0 0 auto;
                                flex-shrink: 0;
                                position: relative;
                                text-align: center;
                                padding:0 4px;
                                a{
                                    display: inline-block;
                                    width: 25px;
                                    height: 25px;
                                    padding: 5px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    img {
                                        width: 15px;
                                        height: 15px;
                                        overflow: hidden;
                                        border-radius: 100%;
                                    }
                                }
                                &.selected {
                                    a {
                                        -webkit-box-shadow: 0 0 0 0px #FFF inset, 0 0 0 0px #FFF inset, 0 0 0 1px #414141 inset;
                                        box-shadow: 0 0 0 0px #FFF inset, 0 0 0 0px #FFF inset, 0 0 0 1px #414141 inset;
                                    }
                                }
                            }
                        }
                    }
                    .swiper-button-prev {left:-25px;}
                    .swiper-button-next {right:-25px;}
                    .swiper-button-prev,
                    .swiper-button-next{
                        width:24px;
                        height:24px;
                        background: none;
                        padding-top: 0;
                        margin-top: -12px;
                        i{
                            line-height: 24px;
                        }
                        i, i:before{
                            font-size: 12px;
                            color: $lDark;
                        }
                    }
                    @media screen and (min-width: $breakpointXSM){
                        &.color-item-1,
                        &.color-item-2,
                        &.color-item-3,
                        &.color-item-4,
                        &.color-item-5{
                            .swiper-button-prev,
                            .swiper-button-next{display: none;}
                            ul{
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        &-price{
            display: table;
            width: 100%;
            > span, > div{
                display: inline-block;
                vertical-align: middle;
                line-height: 20px;
                font-size: 16px;
                font-family: $light;
                font-weight: bold;
                &:empty{
                    display: none;
                }
                .pb1{
                    display: inline-block;
                    padding-left: 5px;
                }
            }
            &-first{
                font-size: 14px;
                font-family: $regular;
                color: $lDark; 
                text-decoration: line-through; 
                > div{
                    margin-right: 10px;
                }
            }
            &-selling{
                font-size: 14px;
                font-family: $medium;
                
                color: $lDark; 
            }
        }
        &-add-cart{
            display: none;
        }
        &.no-color{
            .ems-prd-color-info{opacity: 0; visibility: hidden;}
        }
        @media screen and (min-width: $breakpointXSM){
            &:hover{
                .ems-prd-favorites {
                    opacity: 1;
                    visibility: visible;
                    overflow: visible;
                }
            }
        }
        &.indirimli {
            .ems-prd-price{
                &-selling{
                    color: #DF1B50;
                }
            }
        }
    }
}

.esarp-categorie, .outlet-categorie{
    ul.emosInfinite{
        .ems-prd{
            &-group{
                opacity: 0;
                height: auto;
                overflow: visible;
                font-size: inherit;
                @include transition(all .2s);
            }
            &-color-info{
                opacity: 1;
                visibility: visible;
            }
            &:hover{
                .ems-prd-group{ opacity: 1; }
            }
            .ems-prd-group-inner{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.product-empty{
    margin: 0 auto;
    .ems-container-full{
        > div{
            text-align: center;
            &.icon{
                span{
                    display: inline-block;
                    width: 80px;
                    height: 80px;
                    background-color: $red;
                    border-radius: 100%;
                    position: relative;
                    text-align: center;
                    i{
                        display: inline-block;
                        line-height: 81px;
                    }
                    i, i:before{
                        font-size: 25px;
                        color: #fff;
                    }
                }
            }
            &.title{
                span{
                    display: block;
                    font-size: 36px;
                    margin-top: 30px;
                }
            }
            &.link{
                .btnDefault{
                    max-width: 320px;
                    margin-top: 40px;
                    background: $lDark;
                    margin-left: auto;
                    margin-right: auto;
                    &:hover{
                        background: $btnColor;
                    }
                }
            }
        }
    }
}

.ems-page-404{
    /*background:url(#{$baseHref + "/Upload/BANNERS/covers/404-cover.jpg"}) no-repeat;*/
    background-size: cover;
    background-position: top left;
    padding-bottom: 50px;
    height: calc(100% - 100px);
    .page-empty{
        .product-empty{
            > .ems-container-full {
                max-width: 1000px;
                position: relative;
                margin: 50px auto 50px auto;
                width: 100%;
                text-align: right;
            }
            .warning-container{
                display: inline-block;
                text-align: center;
                padding: 0 20px 20px 20px;
                width: 100%;
                .title{
                    font-family: $webr;
                    font-size: 26px;
                    line-height: 36px;
                    margin-bottom: 10px;
                }
                .link{
                    .btnDefault {
                        margin-top: 30px;
                        background: $lDark;
                    }
                }
            }    
        }
    }
}


.pageErrorArama, span[id$="lbfURN_URUNYOK"]{
    /*background:url(#{$baseHref + "/Upload/BANNERS/covers/404-cover.jpg"}) no-repeat;*/
    background-size: cover;
    background-position: top left;
    padding-bottom: 50px;
    height: calc(100% - 100px);
    margin: 0 auto;
}

.product-empty{
    > .ems-container-full {
        max-width: 1000px;
        position: relative;
        margin: 50px auto 50px auto;
        width: 100%;
        text-align: right;
    }
    .warning-container{
        display: inline-block;
        text-align: center;
        padding: 0 20px 20px 20px;
        width: 100%;
        i {
            font-size: 40px;
            margin-bottom: 30px;
            display: block;
        }
        .title{
            font-family: $webr;
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 10px;
        }
        .link{
            .btnDefault {
                margin-top: 30px;
                background: $lDark;
            }
        }
    }    
}

//////////////////////////////////////
.tekli{
    ul.emosInfinite {
        .ems-prd{
            width: 100%;
        }
    }
}
.ikili{
    ul.emosInfinite {
        .ems-prd{
            width: 50%;
        }
    }
}
.uclu{
    ul.emosInfinite {
        .ems-prd{
            width: 33.333%;
        }
    }
}
.dortlu{
    ul.emosInfinite {
        .ems-prd{
            width: 25%;
        }
    }
}


@media screen and (max-width: 1250px){
    body.dortlu{
        ul.emosInfinite {
            .ems-prd{
                width: 33.333%;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    body.uclu, body.dortlu{
        ul.emosInfinite {
            .ems-prd{
                width: 50%;
            }
        }
    }

    .ems-page-list-container{
        padding-left: 20px;
        padding-right: 0;
    }
    .ems-prd-list-top-center{
        padding-left: 20px;
    }
    .ems-prd-list-top-center-inner > .ems-col-right .ems-col-inner{
        padding-left: 5px;
        padding-right: 5px;
    }

}

@media screen and (max-width: $breakpointXSM){
    /*Search page*/
    .ems-search-page-layout{
        .site-footer{
            width: 0;
            height: 0;
            font-size: 0;
            margin: 0;
            padding: 0;
            border: none;
            overflow: hidden;
            visibility: hidden;
        }
    }

    .ems-prd-list-paging {
        display: none;
    }

    .ems-cat-description{
        &-inner{
            padding-left: 0;
            padding-top: 0;
            span {
                font-size: 20px;
                padding: 22px 20px 20px 20px;
                line-height: 1.5rem;
                font-family: $regular;
            }
            p {
                display: none;
            }
        }
    }
    
    .ems-page{
        &-list{
            padding-bottom: 40px;
            .navigasyon{ display:none; }
            &-full{
                .ems-container-section{
                    &-first{/*display: none;*/}
                }
            }
            .mobile-element{
                &-sort-btns{
                    position: absolute;
                    right: 20px;
                    top: 10px;
                    > a{
                        display: table-cell;
                        vertical-align: middle;
                        padding: 12px 15px;
                        border: 1px solid #414141;
                        &:first-child{text-align: left;}
                        &:last-child{text-align: right;}
                        span{
                            font-family: $regular;
                            font-size: 11px;
                            color: #414141;
                        }
                        &.btn-sort {
                            display: none;
                        }
                    }
                }
            }
            .ems-container-full{
                .mobile-element{
                    &-filter-popup {
                        position: relative;
                        padding: 18px 40px;
                        text-align: center;
                        z-index: 9;
                    }
                    &-filter-text{
                        display: none;
                        span{
                            display: block;
                            color: #fff;
                            font-family: $medium;
                        }
                    }
                    &-filter-btn{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        width: 24px;
                        height: 24px;
                        a{
                            display: block;
                            text-align: center;
                            i{line-height: 24px;}
                            i, i:before{
                                font-size: 12px;
                                color: #000;
                            }
                        }
                    }
                }
                &-first{
                    position: relative;
                }
                &-center{
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    @include setTransform(translateX(-100%));
                    @include transition(transform 333ms ease-in-out);
                    will-change: transform;
                    -webkit-overflow-scrolling: touch;
                    .ems-container-section {
                        &-inner{
                            position: absolute;
                            width: 100%;
                            height: calc(100% - 40px);
                            top: 0;
                            left: 0;
                            overflow-x: hidden;
                            padding: 40px;
                        }
                    }
                }
            }
            .ems-prd-list .emosInfinite {margin-top: 10px;}
        }
        /*Search page layout*/
        &-list-search{
            padding-bottom: 80px;
            .ems-prd-list-paging table tbody tr td {
                .urunPaging_pageNavigation{
                    > span{display: none;}
                    a.tumunuGoster{
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        z-index: 10;
                        background: $lDark;
                        width: 100%;
                        max-width: 100%;
                        margin-top: 0;
                        padding: 18px 20px;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
            .ems-page-cover-text{
                max-width: 780px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                p{
                    width: 100%;
                    font-family: $regular;
                    font-size: 14px;
                    letter-spacing: 3px;
                    color: #0e3d6d;
                    line-height: normal;
                    text-transform: uppercase;
                    span{
                        display: inline-block;
                        line-height: normal;
                        padding-top: 0 !important;
                        div span{
                            font-family: $regular !important;
                            font-size: 14px !important;
                            letter-spacing: 3px;
                            color: #0e3d6d !important;
                            padding-top: 0 !important;
                        }
                    }
                }
            }
            .product-empty {padding:30px 20px;}
        }
        .urnList{
            span[id$="lbfURN_URUNYOK"]{
                .product-empty{
                    padding:30px 20px;
                }
            }
        }
    }

    .ems-prd-list{
        .ems-prd-list-menu {
            padding: 10px 100px 30px 20px;
            justify-content: space-between;
            .ems-desktop-count {
                display: none;
            }
            .ems-desktop-sort {
                .sStylerMainWrp .sStylerWrp {
                    border: 0;
                    font-size: 11px !important;
                    line-height: 18px !important;
                    &:after {
                        font-size: 9px;
                        color: #676767 !important;
                        right: 5px;
                    }
                }
            }
            .ems-prd-list-view {
                .uclu, .dortlu {
                    display: none;
                }
                ul {
                    display: flex;
                    li {
                        margin-right: 10px;
                        a {
                            i {
                                font-size: 22px;
                                color: #e1e1e1 !important;
                            }
                        }
                        &.selected {
                            a {
                                i {
                                    color: #676767 !important;
                                }
                            }
                        }
                        &.ikili {
                            order: 1;
                        }
                        &.tekli {
                            order: 2;
                        }
                    }
                }
            }
        }
        &-prop{display: none;}
        &-paging{
            table{
                tbody{
                    tr td {
                        .urunPaging_pageNavigation{
                            padding-right: 0;
                            > span{
                                display: block;
                                text-align: center;
                                span.paging, a.paging{
                                    &:first-child{
                                        margin-left: 0;
                                    }
                                }
                                a.paging{margin-left: 10px;}
                            }
                            a.tumunuGoster{
                                float: none;
                                display: block !important;
                                max-width: 220px;
                                margin-top: 20px;
                                margin-left: auto;
                                margin-right: auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    ul.emosInfinite{
        .ems-prd{
            padding: 0 6px 20px; 
            width: 50%;
            &-content{
                padding: 5px 0 0 0;
            }
            &-price{
                &-first{
                    margin-left: 5px;
                }
                &-selling{
                    > div{margin-right: 5px;}
                }
            }
            &-color-info {
                padding: 0;
                > span {
                    padding-top: 0;
                }
            }
            &-notice {
                margin-bottom: 0;
                span, .free-shipping {
                    font-size: 13px !important;
                }
            }
            &-group{ display:none !important; }
            &-mask-wrp {
                transition: none;
                transform: none;
                bottom: auto;
                width: auto;
                padding: 0px;
                top: 0;
                right: 0;
                background: none;
                .ems-prd-review {
                    display: none;
                }
            }
            &-name{
                padding: 0 0 3px 0;
                a {
                   font-size: 13px; 
                   line-height: 16px;
                }
            }
            &-discount {
                .urunListe_pnlIndirimOran {
                    span, small {
                        font-size: 13px;
                    }
                }
            }
            &-inner {
                .ems-prd-image-list-container {
                    .slide-button {
                        i {
                            font-size: 9px;
                            transform:none !important;
                        }
                    }
                    .prev-button {
                        left: 0;
                        width: 15px;
                    }
                    .next-button {
                        right: 0;
                        width: 15px;
                    }
                }
            }
            &-price-selling {
                > div,> span {
                    font-size: 13px;
                }
            }
            &-price {
                > div,> span {
                    font-size: 13px;
                }
            }
        }
        .ems-prd-stock {
            .urunListe_urunStokUyari {
                span {
                    font-size: 12px;
                }
            }
        }
    }

    body {
        &.ikili {
            .ems-page-list .ems-prd-list .emosInfinite {
                padding: 10px 14px 0 14px;
            }
        }
        &.tekli {
            .ems-page-list .ems-prd-list .emosInfinite {
                padding: 10px 50px 0 50px;
            }
        }
    }

    .ems-page-404{
        padding-top: 50px;
        padding-bottom: 0;
        height: calc(100% - 50px);
        .page-empty{
            padding-left: 0;
            padding: 0 20px;
            .product-empty{
                > .ems-container-full {
                    max-width: 100%;
                    text-align: center;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .logo{
                    padding-top: 15px;
                    padding-bottom:15px;
                    min-height: 50px;
                    img{max-width: 80px;}
                }
                .warning-container{
                    max-width: 100%;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                    .title-bold{
                        font-size: 170px;
                    }
                    .title{
                        font-size: 18px;
                    }
                    .link{
                        .btnDefault {
                            &:hover{
                                background: $lDark;
                            }
                        }
                    }
                }    
            }
        }
    }

    .filter-popup-ready{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .filter-popup-animate{
        .ems-page-list .ems-container-full-center{ @include setTransform(translateX(0)); }
    }

}