.ems-page-default{
    &-member-order{ 
        max-width: 750px !important;
        .ems-order-form {
            display: none !important;
        }
        div[id$="plhSiparisYokLabel1"]{
            background: none;
            line-height: inherit;
            padding: 0;
            .ems-page-order-empty{
                display: block;
                text-align: left;
                .big-text{
                    font-family: $medium;
                    font-size: 26px;
                    display: block;
                    color: #5c606d;
                }
                .order-ico-wrp{
                    padding:13px 10px;
                    background: #d1f5fa;
                    margin-top: 30px;
                }
                .order-ico{
                    width: 20%;
                    text-align: center;
                    padding:5px 10px;
                    display: inline-block;
                    vertical-align: middle;
                    border-right: 1px solid #5c606d;
                    &:before{
                        font-family: 'icomoon';
                        content: '\e90b';
                        font-size: 20px;
                        color: $lDark;
                    }
                    span{
                        display: block;
                        font-family: $medium;
                        font-size: 12px;
                        color: $lDark;
                        margin-top: 10px;
                    }
                }
                .small-text{
                    width: 80%;
                    padding-left: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    color: $lDark;
                    font-family: $medium;
                    font-size: 16px;
                }
                .order-redirect-btn{
                    .btnDefault{
                        background: $lDark;
                        padding:18px 15px;
                        width: 100%;
                        display: block;
                        margin-top: 30px;
                        @media screen and (min-width: $breakpointXSM){
                            max-width: 330px;
                            margin-left: 0;
                        }
                        span{color: #fff;}
                        &:before{
                            font-family: 'icomoon';
                            content: '\e910';
                            color: #fff;
                            position: relative;
                            top: inherit;
                            left: inherit;
                            margin-top: inherit;
                            margin-right: 10px;
                            font-size: 10px;
                        }
                        @media screen and (min-width: $breakpointXSM){
                            &:hover{
                                background: $btnColor;
                            }
                        }
                    }
                }
            }
        }

        .order-filter{
            &:empty{
                display:none;
            }
            padding-bottom: 30px;
            .sStylerMainWrp,
            a.btnSipAra{
                display: inline-block;
                vertical-align:top;
                background: $lDark;
            }
            .sStylerMainWrp.sStylerWrp_select{
                width: calc(100% - 100px);
                margin-right: 15px;
                float: left;
                max-width: 200px;
                .sStylerWrp{
                    line-height: 35px;
                    height: 45px;
                }
            }
            a.btnSipAra{
                width: 85px;
                padding: 16px 5px 15px 5px;
                @media screen and (min-width: $breakpointXSM){
                    &:hover{
                        background: $btnColor;
                    }
                }
            }
        }

        .ems-grid-order{
            .ems-grid-header, .ems-grid-row{
                > div{
                    text-align: center;
                    width: 25%;
                    padding-left: 5px;
                    padding-right: 5px;
                    &:first-child{
                        padding-left: 0;
                        padding-right: 0;
                        text-align: left;
                    }
                    &.ems-grid-date{
                        width: 10%;
                    }
                    &.ems-grid-detail{
                        width: 30%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            .ems-grid-header{
                padding:10px 20px;
                &:first-child{
                    display: table;
                    width: 100%;
                }
                > div{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .ems-grid-row{
                background: #fff;
                margin-bottom: 20px;
                padding:15px 20px;
                border: 1px solid $border;
                > div{
                    > a{
                        padding:13px 0;
                        display: block;
                    }
                    &.ems-grid-status{
                        > a{
                            display: inline-block;
                            text-decoration: underline;
                            max-width: 150px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        &:empty{
                            &:before{
                                content:"-";
                                display: inline-block;
                            }
                        }
                    }
                    &.ems-grid-detail{
                        .btnDefault {
                            background: $lDark;
                            width: auto;
                            @media screen and (min-width: $breakpointXSM){
                                &:hover{
                                    background: $btnColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Sipariş Export */

.ems-order-export {
    &-title {
        width: 100%;
        height: 40px;
        background-color: #f9f9f9;
        margin-bottom: 30px; 
        display: block;
        span {
            text-align: center;
            font-family: $bold;
            line-height: 45px;
            display: block;
        }
    }
    &-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #e9e9e9;
        &-info {
            width: 100%;
            max-width: 200px;
            span { 
                display: block;
                font-family: $medium;
                margin-bottom: 5px;
                b {
                    font-family: $bold;
                }
            }
        }
        &-img { 
            width: 100%;
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                li {
                    width: 150px;
                    padding-right: 5px;
                    margin-bottom: 5px;
                    flex: 0 33.333%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    &:nth-child(3n) {
                        padding-right: 0;
                    }
                }
            }
        }
        &-link {
            width: 100%;
            max-width: 285px;
            a {
                max-width: 200px;
                float: right;
            }
        }
        &::last-child {
            border: 0;
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .ems-page{
        &-member{
            .ems-page-default{
                &-member-order{
                    max-width: 100% !important;
                    .page-top-title {
                        display: block;
                        text-align: center;
                    }
                    .page-top-desc {
                        display: block;
                        padding-bottom: 0px;
                    }
                    div[id$="plhSiparisYokLabel1"]{
                        .ems-page-order-empty{
                            padding: 20px;
                            .big-text{font-size: 20px; color: $lDark;}
                            .order-ico{margin-right: 0; width: 30%;}
                            .small-text{ font-size: 13px;padding-left: 20px; width: 70%;}

                        }
                    }
                    .order-filter{
                        @include flex();
                        justify-content: space-between;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-bottom: 20px;
                        .sStylerMainWrp.sStylerWrp_select{
                            margin-right:10px;
                            width: calc(100% - 85px);
                            max-width: calc(100% - 85px)
                        }
                        a.btnSipAra{width: 85px;}
                    }
                    .ems-grid-order{
                        @include flex();
                        flex-wrap: wrap;
                        padding-left: 20px;
                        padding-right: 20px;
                        .ems-grid-header, .ems-grid-row{
                            @include flex();
                            @include flexDirection(column);
                            justify-content: space-around;
                            padding: 0;
                            margin-bottom: 30px;
                            > div{
                                width: 100%;
                                padding: 10px;
                                min-height: 55px;
                                line-height: 40px;
                                border-top: 1px solid $border;
                                &:first-child{border-top: none;}
                            }
                        }
                        .ems-grid-header{
                            border-width:1px 0 1px 1px;
                            border-style: solid;
                            border-color: $border; 
                            &:first-child{
                                @include flex();
                            }
                            width: 40%;
                            flex-basis: 40%;
                            flex-grow: 1;
                            > div{
                                text-align: left;
                            }
                        }
                        .ems-grid-row{
                            width: 60%;
                            flex-basis: 60%;
                            flex-grow: 2;
                            table-layout: inherit;
                            position: relative;
                            > div{
                                text-align: center;
                                > a{
                                    padding-top: 0;
                                    padding-bottom: 0;
                                }
                            }
                            .ems-grid-detail{
                                .btnDefault{
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* Sipariş Export */

    .ems-order-export {
        padding: 0 20px;
        &-title {
            span {
            }
        }
        &-list {
            flex-direction: column;
            &-info {
                width: 100%;
                margin-bottom: 20px;
            }
            &-img { 
                margin-bottom: 20px;
            }
            &-link {
                max-width: none;
                a {
                    max-width: none;
                }
            }
        }
    }
}