a.btnDefault, .ems-col.ems-col-link a{
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    font-family: $regular;
    font-size: 11px;
    color: #fff;
    background: $dark;
    text-align: center;
    font-weight: normal;
    width: 100%;
    line-height: 1;
    @include transition(all 0.2s ease);
    span {
        @include transition(all 0.2s ease);
        font-size: 11px; 
    }
    @at-root {
        &-text, a.btnAdresListeGuncelle, a.btnAdresListeSil, a.btnSatisSozlesmeOnizle, a.btnOnBilgilendirmeFormOnizle,  a.btnFavoriListeSil, a.btnTakipListeFiySil, a.btnTakipListeStokSil, a.btnIadeDetay, a.btnYorumGonderEvet, a.btnYorumGonderHayir {
            background: none;
            padding: 0;
            font-size: inherit;
            color: inherit;
            &:hover {
                background: inherit;
            }
        }
        &-full, .pageLogin_btnFacebookLogin > table, a.btnFacebookLogin, a.btnYeniUyeKaydet, a.btnLogin, a.btnUyeBilgi, a.btnSifreGuncelle, a.btnIade, a.btnAdresKaydet {
            width: 100%;
        }
        .urunDetay_btnSepeteAt > table, .urunListe_favoriEkle > table, .urunDetay_btnStokHaberci > table, .ems-cart-coupon > table, .pageLogin_btnFacebookLoginKutu > table, .pageLogin_btnFacebookLogin > table, .pageLogin_btnUyeSifreGonder > table {
            display: table !important;
            width: 100%;
        }
        a.btnStokHaberci { 
            background:#fd94b1;
            text-transform: uppercase;
        }
        a.btnFacebookLogin, a.btnFacebookLoginKutu, a.btnGoogleLogin, a.btnGoogleLoginKutu {
            border-radius: 100%;
            width: 44px; 
            height: 44px;
            display: inline-block;
            padding: 12px 10px;
            background: #C7C8CA !important;
            display: inline-block; 
            text-transform: uppercase;
            span {
                color: #fff;
                i{
                    font-size: 20px;
                }
            }
            &:hover {
                opacity: 0.8;
            }
        }
        a.btnGoogleLogin {
            padding: 8px 10px;
            i {
                font-size: 23px !important;
            }
        }
        a.btnGoogleLoginKutu {
            padding: 10px;
            i {
                font-size: 25px !important;
            }
        }
    }
    &.btnDefaultBlack{
        background: $dark;
        max-width: 225px;
        margin: 0 auto;
        width: 100%;
        display: block; 
    }
    &.btnDefaultAlternate{
        background: $btnAlternateColor;
        &:hover {
            background: $btnColor;
        }
    }
    &:hover {
        background:#1a1a1a;
    }
} 

.link-btn{
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
    font-family: $bold;
    font-size: 15px;
    > span, i{
        display: inline-block;
        vertical-align: middle;
    }
    i{
        position: relative;
        top: -2px;
        margin-left: 10px;
        &:before{
            color: #fff;
            font-size: 11px;
        }
    }
}