::selection {background: #cc0000; color: #FFFFFF; text-shadow: 0 1px 3px #4a536c;}
::-moz-selection {background: #cc0000; color: #FFFFFF; text-shadow: 0 1px 3px #4a536c;}

body { -webkit-font-smoothing: antialiased; -moz-font-smoothing: none; color:$fcolor; font-family: $regular; }
html{-webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
 
span[id$='lbfURN_KDVDAHILSATIS'], span[id$='lbfURN_KDVDAHILSATISILK'] {display:none;}
 
i { font-style: normal; }  

a {outline:none; color: $black;}    

b {font-weight: 700;}

body table{ width: 100%; table-layout: fixed; border-collapse: collapse; }
body table, thead, tbody, tr { width: 100%; }

h1,h2,h3,h4,h5{margin-top: 0; margin-bottom: 0; font-weight: normal;}

.pb1{font-family: Arial, Helvetica, sans-serif !important;	font-weight: normal;}

@media screen and (min-width: $breakpointXSM){ 
	a {@include transition(all 0.2s ease);}
}

/*Styler*/
input.sCheckbox {display:none !important;} 
body { overflow-x: hidden; }

.vail {
	visibility: hidden;
	position:fixed; 
	left:0; 
	top:0; 
	z-index:15; 
	background:rgba(0,0,0,.5);
	width:100%; 
	height:100%;
	opacity: 0;
	transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
}

//item list
[class*="item-"] {
	 > * {
		display: inline-block;
		vertical-align: top;
	}
	&.item-2 > * {
		width: 50%;
	}
	&.item-3  > * {
		width: (100% / 3);
	}
	&.item-4  > * {
		width: 25%;
	}
}

.vAlign {
	@include vAlign;
}
 
.left {
	left: 0;
}
.right {
	right: 0;
}
.center {text-align: center;}

.white {color: #fff !important}
.black {color: $dark !important;}

.text-animation{ @include setTransform(translateY(20px)); opacity: 0; }

.hourglass {display:none;}

.filter-ajx-loading { 
	&:after {
		content:'';
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:9998;
		background:url(#{$baseHref + "/images/ajaxtabs/pageLoading.gif"}) center center no-repeat rgba(255, 255, 255, 0.7);
	}
}

.loading-holder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
	background: rgba(0, 0, 0, .7);
	.loading-content {
		@include vAlign;
		text-align: center;
		font-size: 25px;
		color: #fff;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
	}	
}

.ems-message{
	&:empty{ display: none; }
	&-success{
		border:1px solid #0bce24;
		color: #0bce24 !important;
	}
	&-error{
		/*border:1px solid #ff374a;
		margin-bottom: 20px;*/
		color: #ff374a;
	}
	&-warning{
		border:1px solid $red;
		color: $lDark !important;
	}
}

.ems-message {
	padding: 15px;
	color: #ff374a;
	line-height: 18px;
	b{ font-weight: normal; font-family: $bold; }
}

.ems-form-err-msg {
	padding-top: 5px;
	font-size: 10px;
	color: #FF4D4B;
	font-family: $regular;
	&:before {
		content:'Girilmesi Zorunlu Alan : '
	}
}

.ems-message, .pageLogin_yeniUyelikHata, .pageErrorUyeSifre, .pageErrorSifremiUnuttum, .pageSifremiUnuttum_mesaj, .ems-page-new-address .pageErrorDefault {
	b{ font-weight: normal; font-family: $bold; }
}

.pageLogin_yeniUyelikHata { color:inherit !important; b { font-weight:normal; } }

.ems-element-copy{
	display: none;
	width: 100%;
}

.ems-clone{
	&:empty{ display: none;}
	> .ems-element-copy{
		display: table;
	}
}

.zorunluFont {
	position: relative;
	/*padding-left: 15px;*/
	&:before {
		content: "*";
		color: #ff566b;
		position: absolute;
		left: 0;
		top: 50%;
		height: 18px;
		line-height: 18px;
		font-size: 18px;
		margin-top: -5px;
		display: none;
	}
}

.page-top-title, .pageHeaderDefault {
    position: relative;
    display: block;
	font-size: 15px;
	font-family: $bold;
    + .page-top-desc, + .pageDescDefault {
        margin-top: 20px;
    }
}
.page-top-desc, .pageDescDefault {
	padding-bottom: 30px;
	display: inline-block;
	width: 100%;
}
.inner-title {
	font-size: 20px;
	padding-bottom: 30px;
}

.emos-confirm {
	border-radius: 0 !important;
	.ui-dialog-titlebar {
		border: 0 !important;
		.ui-dialog-title {
			font-size: 18px;
			font-weight: normal !important;
			padding: 20px 0 30px 0;
			text-align: center;
			display: block;
		}
	}
	.ui-dialog-content {
		padding: 40px 30px 80px !important;
		font-size: 14px !important;
	}
	.ui-dialog-buttonpane {
		.ui-dialog-buttonset {
			button {
				border-radius: 3px !important;
				&:first-child {
					border-radius: 3px !important;
					border: 0 !important;
					background:$lDark !important;
				}
				&:last-child {
					border-radius: 3px !important;
					border: 0 !important;
					background:$btnColor !important;
					span {
						color: #fff !important;
					}
					&:hover {
						border: 0 !important;
						background:$btnColor !important;
					}
					&.ui-state-hover{
						border: 0 !important;
					}
				}
			}
		}
	}
}

.ui-datepicker .ui-datepicker-title select{ padding:0 !important; }

.sub { display: none; }

.ems-page-default{	padding: 45px 10px 45px 10px; }

.ems-container-small{
	width: 100%;
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.ems-top-scroll{
	a.btnDefaultTopScroll{
		cursor: pointer;
		background:#32353f;
		padding-top: 12px;
		padding-bottom: 12px;
		i, i:before{
			font-size: 26px;
		}
		i{
			display: inline-block;
			@include setTransform(rotate(-90deg));
			&:before{
				color:#fff;
			}	
		}
	}
}

@include keyframes(showHide){
	from { opacity: 0; }
	to { opacity: 1; }
}
@include keyframes (favoriIcons) {
	0% { transform: scale(1.0);}
    100% { transform: scale(1.1); }
}
@include keyframes (scale) {
	0% { display: block; @include setTransform(scale(1.1)); opacity: 0; }
    100% { @include setTransform(scale(1)); opacity: 1; }
}
@include keyframes (opacityVail) {	
	0% { display: block; opacity: 0; }
    100% { opacity: 1; }
}
@include keyframes (suggest) {
	0% { display: block !important; opacity: 0; }
	100%{ opacity: 1; }
}
@include keyframes (suggestMb) {
	0% { display: block !important; @include setTransform(translateY(100%)); opacity: 0; }
	100%{ @include setTransform(translateY(0)); opacity: 1; }
}

@include keyframes (showHide) {
	0% {opacity: 0; display: none;}
	100%{ display: block; opacity: 1; }
}

/* List Effect */

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


.btn-effect{
	position: relative;
	display: inline-block;
	padding: 10px;
	span{
		font-family: $regular;
		font-size: 14px;
		color: $lDark;
	}
}

.btn-single{
	display: inline-block;
	/*padding: 10px;*/
	text-align: left;
	span{
		font-size: 16px;
		font-family: $regular;
		color: $black;
		i {
			font-size: 12px;
			margin-left: 5px;
		}
	}
}

.custom-title {
	font-family: $medium;
    font-size: 28px;
	text-align: center;
	display: block;
}

.ems-animated {
	opacity: 0;
}

.animated.delay-5s {
	-webkit-animation-duration: 5s;
    animation-duration: 5s;
}

.animated.delay-4s {
	-webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.animated.delay-3s {
	-webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.delay-2s {
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
}


@media screen and (min-width: $breakpointXSM){

	.mobile-element{
		display: none !important;
	}

	.btn-single{
		span{
			position: relative;
			padding-bottom: 2px;
			/*&:before{
				content:'';
				width: 0;
				height: 1px;
				background: $lDark;
				overflow: hidden;
				position: absolute;
				left: 0;
				bottom: 0;
				@include transition(all .2s ease);
			}*/
		}
		&:hover{
			span{
				color:$dGray;
				/*&:before{
					width: 100%;
					overflow: visible;
				}*/
			}
		}
	}
}

@media screen and (max-width: $breakpointXSM){
	.page-top-desc, .pageDescDefault,
	.page-top-title, .pageHeaderDefault{
		display: none;
	}

	.desktop-element{
		display: none !important;
	}
	
	.vailCart{
		display: none;
	}
	
	.vl_30_i, .vl30k{display: none !important;}
	
	.emos-confirm{
		width: 100% !important;
	}
}

/* Hamburger Menu */
#menu-toggle {
	width: 20px;
	height: 20px;
	margin: 0px auto;
	position: relative;
	position: relative;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 5px; }
	#menu-toggle:hover {
	  background: rgba(255, 255, 255, 0.8); }
	#menu-toggle #hamburger {
	  position: absolute;
	  height: 100%;
	  width: 100%; }
	  #menu-toggle #hamburger span {
		width: 20px;
		height: 2px;
		position: relative;
		top: 0px;
		left: 0px;
		margin: 4px 0; }
		#menu-toggle #hamburger span:nth-child(1) {
		  -webkit-transition-delay: .5s;
		  -o-transition-delay: .5s;
		  transition-delay: .5s; }
		#menu-toggle #hamburger span:nth-child(2) {
		  -webkit-transition-delay: .625s;
		  -o-transition-delay: .625s;
		  transition-delay: .625s; }
		#menu-toggle #hamburger span:nth-child(3) {
		  -webkit-transition-delay: .75s;
		  -o-transition-delay: .75s;
		  transition-delay: .75s; }
	#menu-toggle #cross {
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg); }
	  #menu-toggle #cross span:nth-child(1) {
		height: 0%;
		width: 2px;
		position: absolute;
		top: 1px;
		left: 10px;
		-webkit-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s; }
	  #menu-toggle #cross span:nth-child(2) {
		width: 0%;
		height: 2px;
		position: absolute;
		left: 1px;
		top: 10px;
		-webkit-transition-delay: .25s;
		-o-transition-delay: .25s;
		transition-delay: .25s; }
	#menu-toggle span {
	  display: block;
	  background: $dark;
	  border-radius: 2px; }
	#menu-toggle * {
	  transition: 0.25s ease-in-out;
	  -webkit-transition: 0.25s ease-in-out;
	  -o-transition: 0.25s ease-in-out; }
  
  .mobi-menu-ready {
	position: fixed;
	width: 100%;
	top: 0; }
	.mobi-menu-ready #menu-toggle #hamburger span {
	  width: 0%; }
	  .mobi-menu-ready #menu-toggle #hamburger span:nth-child(1) {
		-webkit-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s; }
	  .mobi-menu-ready #menu-toggle #hamburger span:nth-child(2) {
		-webkit-transition-delay: .125s;
		-o-transition-delay: .125s;
		transition-delay: .125s; }
	  .mobi-menu-ready #menu-toggle #hamburger span:nth-child(3) {
		-webkit-transition-delay: .25s;
		-o-transition-delay: .25s;
		transition-delay: .25s; }
	.mobi-menu-ready #menu-toggle #cross span:nth-child(1) {
	  height: 100%;
	  -webkit-transition-delay: .625s;
	  -o-transition-delay: .625s;
	  transition-delay: .625s; }
	.mobi-menu-ready #menu-toggle #cross span:nth-child(2) {
	  width: 100%;
	  -webkit-transition-delay: .375s;
	  -o-transition-delay: .375s;
	  transition-delay: .375s; }