/*General Definations*/
/*$baseHref: '';*/
$baseHref: '//forevernew.proj-e.com/';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1440px;
$siteContainerWidthMiddle: 1200px;
$siteContainerWidthShort: 1120px;
$siteContainerWidthMobile: 960px;
$siteContainerWidthFull: 100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);

/*Site fonts*/
$bold: "bold";
$light: "light";
$regular: "regular"; 
$medium: "medium";
$playr: "playr";
$webl: "webl";
$webr: "webr";
/* old */
$sBold: "sBold";
$pdRegular: "pdRegular";
$pdBoldItalic: "pdBoldItalic";


$dRegular: "dRegular";
$dItalic: "dItalic";
$tl:"tl";

$ltSpace:4px;

/*New colors*/
$fcolor:#231F20;
$lGray:#F3F3F3;
$lDark:#000; 
$gray3:#cacaca;
$dGray: #6E6D6E;
$eGray:#e6e7e9;
$nDark: #222;
$darkBlack:#111;
$red:#ff374a;
$green:#1edeac;
$gold: #ffb604;
$ffYellowL:#ffb604;

$fbBtnColor:#3656b7;
$btnColor: #1a1a1a;
$btnAlternateColor:#171d2f;


/*Old site colors*/
$fdYellow:#fdde00;
$edGray:#ededed;
$border:#e6e7e9;
$inputborder:#e6e7e9;